header{
    background-color:#222;
    padding: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    color: white;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
li a:hover {
    background-color: #444;
    color: rgb(181, 174, 174);
}
ul.float-nav li {
    float: left; 
}
main {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}
.product-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.product-card h3 {
    margin: 10px 0;
}

.price {
    color: green;
    font-size: 18px;
    font-weight: bold;
}
.product-card button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.product-card button:hover {
    background-color: #e65c00;
}
.describ{
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
